@font-face {
    font-family: 'tp-icon-font';
    src:  url('../font/tp-icon/tp-icon-font.eot?su8x8');
    src:  url('../font/tp-icon/tp-icon-font.eot?su8x8#iefix') format('embedded-opentype'),
      url('../font/tp-icon/tp-icon-font.ttf?su8x8') format('truetype'),
      url('../font/tp-icon/tp-icon-font.woff?su8x8') format('woff'),
      url('../font/tp-icon/tp-icon-font.svg?su8x8#tp-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .ts-icon {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'tp-icon-font' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .ts-icon-menu:before {
    content: "\e900";
  }
  .ts-icon-card:before {
    content: "\e901";
  }
  .ts-icon-account:before {
    content: "\e902";
  }
  .ts-icon-added-basket:before {
    content: "\e903";
  }
  .ts-icon-alert:before {
    content: "\e904";
  }
  .ts-icon-arrow-down:before {
    content: "\e905";
  }
  .ts-icon-arrow-left:before {
    content: "\e906";
  }
  .ts-icon-arrow-right:before {
    content: "\e907";
  }
  .ts-icon-arrow-up:before {
    content: "\e908";
  }
  .ts-icon-basket-error:before {
    content: "\e909";
  }
  .ts-icon-cart:before {
    content: "\e90a";
  }
  .ts-icon-check:before {
    content: "\e90b";
  }
  .ts-icon-check2:before {
    content: "\e90c";
  }
  .ts-icon-checklist:before {
    content: "\e90d";
  }
  .ts-icon-close:before {
    content: "\e90e";
  }
  .ts-icon-delivery:before {
    content: "\e90f";
  }
  .ts-icon-discount:before {
    content: "\e910";
  }
  .ts-icon-edit:before {
    content: "\e911";
  }
  .ts-icon-invoice:before {
    content: "\e912";
  }
  .ts-icon-larrow-down:before {
    content: "\e913";
  }
  .ts-icon-larrow-left:before {
    content: "\e914";
  }
  .ts-icon-larrow-right:before {
    content: "\e915";
  }
  .ts-icon-larrow-up:before {
    content: "\e916";
  }
  .ts-icon-launch:before {
    content: "\e917";
  }
  .ts-icon-more-info:before {
    content: "\e918";
  }
  .ts-icon-payment-method:before {
    content: "\e919";
  }
  .ts-icon-print:before {
    content: "\e91a";
  }
  .ts-icon-recipes:before {
    content: "\e91b";
  }
  .ts-icon-reward:before {
    content: "\e91c";
  }
  .ts-icon-search:before {
    content: "\e91d";
  }
  .ts-icon-send:before {
    content: "\e91e";
  }
  .ts-icon-spice-empty:before {
    content: "\e91f";
  }
  .ts-icon-spice-full:before {
    content: "\e920";
  }
  .ts-icon-timer:before {
    content: "\e921";
  }
  .ts-icon-warning:before {
    content: "\e922";
  }